:root {
  --color-primary: #feb503;
  --color-secondary: #ee2400;
  --color-third: #108a00;
  --color-fourth: #030303;
  --color-white: #fff;

  --font-primary: "Bringhum";
  --font-secondary: "Unbounded";
  /* 24 40 56 */
  /* https://bavet.eu/ */
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: none;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  cursor: none;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
/* set minxin */
.h1-font {
  font-family: var(--font-primary);
  font-size: 64px;
  line-height: 64px;
}
.h2-font {
  font-family: var(--font-primary);
  font-size: 28px;
  line-height: 32px;
}
.h3-font {
  font-family: var(--font-primary);
  font-size: 24px;
  line-height: 32px;
}
.h4-font {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 20px;
}
.b1-font {
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 28px;
}
.b2-font {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 20px;
}
.spacing {
  height: 120px;
}
/* end set minxin */

/* start css heaeder */
.header {
  z-index: 99;
}
.header__container {
  padding-inline: 24px;
  background-color: var(--color-white);
  height: 80px;
}
.header__left,
.header__right {
  width: 200px;
}
.header__center {
  gap: 56px;
}
.header__menu ul {
  display: flex;
  gap: 40px;
}
.header__menu ul li a {
  color: var(--color-fourth);
  transition: color 0.3s ease;
}
.header__menu ul li a:hover {
  color: var(--color-secondary);
}
.header__right {
  gap: 24px;
}
.header__phone a {
  color: var(--color-third);
  transition: color 0.3s ease;
}
.header__phone a:hover {
  color: var(--color-secondary);
}
.header__lang {
  position: relative;
}
.lang__body {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.lang__body.dropdown--active {
  opacity: 1;
  visibility: visible;
}
.lang__head .value-select {
  width: 24px;
}

/* end css header */
/* start cta group */
.cta-group {
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.cta-group .cta__list {
  gap: 8px;
}
.cta-group .cta__list .button {
  min-width: 146px;
  height: 52px;
  width: 100%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.cta-group .cta__list .button span {
  color: var(--color-white);
  transform: translateY(3px);
  text-transform: uppercase;
}
/* end cta group */
/* css cursor magic */
.cursor-magic {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, 50%); */
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 100;
  background-image: url("../images/ic_hand_default.svg");
  background-size: 100% 100%;
  transition: background-image 0.2s;
}
.cursor-magic.--active {
  background-image: url("../images/ic_hand_active.svg");
}
/* end cursor magic */
/* css banner */
.hero-banner__container {
  width: 100%;
  height: 100vh;
}
.hero-banner__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end banner */

.introduce-sec {
  overflow: hidden;
  padding-top: 10px;
  /* height: 100vh; */
}
.introduce__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 70px;
  padding: 24px;
}
.introduce__container h1 {
  font-size: 100px;
  line-height: 110px;
  transform: rotate(-8deg);
}
.introduce__container h1 .line {
  line-height: 84px;
}
.introduce__title {
  width: 580px;
  height: 580px;
  position: relative;
}
.introduce__bg {
  position: absolute;
  inset: 0;
}
.introduce__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.introduce__right .box-img {
  /* width: 345px;
  height: 500px; */
  width: 100%;
  height: 100%;
  mask-image: url("../images/img_bg.svg");
  mask-size: 100% 100%;
}
.introduce__left .box-img {
  /* width: 345px;
  height: 500px; */
}
.introduce__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end style introduce */
/* start style restaurant sec */

.restaurant__title {
  margin-bottom: 40px;
}
.restaurant__title h1 {
  font-family: var(--font-primary);
  font-size: 100px;
  line-height: 110px;
  text-align: center;
}
.restaurant__title h1 .line {
  text-align: center !important;
}
.restaurant__box {
  max-width: 700px;
  width: 100%;
}
.restaurant__desc {
  color: var(--color-fourth);
}
.restaurant__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant__bottom .text-random h1 {
  font-size: 150px;
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-style: italic;
}
.restaurant__bottom .text-random h1 .line {
  text-align: center !important;
}
.restaurant__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 154px;
  background-color: var(--color-secondary);
  mask-image: url("../images/img_bg_default.svg");
  mask-size: 100% 100%;
  background-image: url("../images/img_bg_default.svg");
  background-size: 100% 100%;
  color: var(--color-fourth);
  transition: all 0.2s ease;
  overflow: hidden;
}
.restaurant__btn a:hover {
  background-image: url("../images/img_bg_hover.svg");
  mask-image: url("../images/img_bg_hover.svg");
  background-color: var(--color-secondary);
}
.restaurant__btn a span {
  transform: translateY(-6px);
}
/* end style restaurant sec */

/* start style events */
.events__container {
  padding-inline: 24px;
}
.events__list {
  position: relative;
}
.events__list .swiper-arrows .swiper-button-next,
.events__list .swiper-arrows .swiper-button-prev {
  position: absolute;
  top: 50%;
  height: 32px;
  width: 40px;
}
.events__list .swiper-arrows .swiper-button-prev {
  left: 0;
}
.events__list .swiper-arrows .swiper-button-next:hover,
.events__list .swiper-arrows .swiper-button-prev:hover {
  cursor: none;
}
.events__list .swiper-arrows .swiper-button-next {
  right: 0;
}
.events__title {
  margin-bottom: 32px;
}
.events__item {
  position: relative;
  mask-image: url("../images/img_bg.svg");
  mask-size: 100% 100%;
}
.events__item::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.36%, #000 88.9%);
}
.events__content {
  position: absolute;
  inset: 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
}
.events__img {
  width: 100%;
  aspect-ratio: 329 / 489;
}
.events__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events__content .rank {
  color: var(--color-white);
}
.events__content .detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.events__content .detail h3 {
  color: var(--color-text);
}
.events__content .detail .desc {
  color: var(--color-white);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: unset;
  font-size: 0;
}
/* end style events */
