:root {
  --color-primary: #feb503;
  --color-secondary: #ee2400;
  --color-third: #108a00;
  --color-fourth: #030303;
  --color-white: #fff;

  --font-primary: "Bringhum";
  --font-secondary: "Unbounded";
  /* 24 40 56 */
  /* https://bavet.eu/ */
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
a:hover {
  cursor: none;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  cursor: none;
  overflow-x: hidden;
  background-color: #f4f1fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
/* set minxin */
.h1-font {
  font-family: var(--font-primary);
  font-size: 64px;
  line-height: 64px;
}
.h2-font {
  font-family: var(--font-primary);
  font-size: 28px;
  line-height: 32px;
}
.h3-font {
  font-family: var(--font-primary);
  font-size: 24px;
  line-height: 32px;
}
.h4-font {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 20px;
}
.b1-font {
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 28px;
}
.b2-font {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 20px;
}
.spacing {
  height: 120px;
}
/* end set minxin */

/* start css heaeder */
.header {
  z-index: 99;
}
.header__container {
  padding-inline: 24px;
  background-color: var(--color-white);
  height: 80px;
  mask-image: url("../images/header.png");
  mask-size: 100% 100%;
}
.header__left,
.header__right {
  width: 200px;
}
.header__center {
  gap: 56px;
}
.header__menu ul {
  display: flex;
  gap: 40px;
}
.header__menu ul li a {
  color: var(--color-fourth);
  transition: color 0.3s ease;
}
.header__menu ul li a:hover {
  color: var(--color-secondary);
}
.header__right {
  gap: 24px;
}
.header__phone a {
  color: var(--color-third);
  transition: color 0.3s ease;
}
.header__phone a:hover {
  color: var(--color-secondary);
}
.header__lang {
  position: relative;
}
.lang__body {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.lang__body.dropdown--active {
  opacity: 1;
  visibility: visible;
}
.lang__head .value-select {
  width: 24px;
}

/* end css header */
/* start cta group */
.cta-group {
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.cta-group .cta__list {
  gap: 8px;
}
.cta-group .cta__list .button {
  min-width: 146px;
  height: 52px;
  width: 100%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.cta-group .cta__list .button span {
  color: var(--color-white);
  transform: translateY(3px);
  text-transform: uppercase;
}
/* end cta group */
/* css cursor magic */
.cursor-magic {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, 50%); */
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 9999;
  background-image: url("../images/ic_hand_default.svg");
  background-size: 100% 100%;
  transition: background-image 0.2s;
}
.cursor-magic.--active {
  background-image: url("../images/ic_hand_active.svg");
}
/* end cursor magic */
/* css banner */
.hero-banner__container {
  width: 100%;
  height: 100vh;
}
.hero-banner__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end banner */

.introduce-sec {
  overflow: hidden;
  padding-top: 10px;
  /* height: 100vh; */
}
.introduce__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 70px;
  padding: 24px;
}
.introduce__container h1 {
  font-size: 100px;
  line-height: 110px;
  transform: rotate(-8deg);
}
.introduce__container h1 .line {
  line-height: 84px;
}
.introduce__title {
  width: 580px;
  height: 580px;
  position: relative;
}
.introduce__bg {
  position: absolute;
  inset: 0;
}
.introduce__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.introduce__right .box-img {
  /* width: 345px;
  height: 500px; */
  width: 100%;
  height: 100%;
  mask-image: url("../images/img_bg.svg");
  mask-size: 100% 100%;
}
.introduce__left .box-img {
  /* width: 345px;
  height: 500px; */
}
.introduce__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end style introduce */
/* start style restaurant sec */

.restaurant__title {
  margin-bottom: 40px;
}
.restaurant__title h1 {
  font-family: var(--font-primary);
  font-size: 100px;
  line-height: 110px;
  text-align: center;
}
.restaurant__title h1 .line {
  text-align: center !important;
}
.restaurant__box {
  max-width: 700px;
  width: 100%;
}

.restaurant__desc {
  color: var(--color-fourth);
}
.restaurant__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-block: 300px;
  overflow: hidden;
}
.restaurant__list li {
  position: absolute;
  width: 316px;
  height: 316px;
}
.restaurant__list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant__list li.hover-me img {
  width: auto;
  height: auto;
  object-fit: contain;
}
.restaurant__list li:first-child {
  left: 85px;
  top: 100px;
}
.restaurant__list li:nth-child(2) {
  right: 0;
  top: 0;
}
.restaurant__list li:nth-child(3) {
  left: 0;
  bottom: 150px;
}
.restaurant__list li:nth-child(4) {
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.restaurant__list li:nth-child(5) {
  bottom: 0;
  left: 20%;
}
.restaurant__list li:nth-child(6) {
  bottom: 0;
  right: -100px;
}
/* .restaurant__list li.hover-me {
  width: auto;
  height: auto;
  animation: hoverMe 1s infinite linear;
}
.restaurant__list li.one {
  top: 100px;
  left: 30%;
}
.restaurant__list li.two {
  bottom: 100px;
  right: 25%;
  transform: rotate(40deg);
} */
@keyframes hoverMe {
  0% {
    transform: translateY(0px) rotate(40deg);
  }
  50% {
    transform: translateY(10px) rotate(40deg);
  }
  100% {
    transform: translateY(0px) rotate(40deg);
  }
}

.restaurant__bottom .text-random h1 {
  font-size: 150px;
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-style: italic;
}
.restaurant__bottom .text-random h1 .line {
  text-align: center !important;
}
.restaurant__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 66px;
  background-color: var(--color-secondary);
  mask-image: url("../images/img_bg_default.svg");
  mask-size: 100% 100%;
  background-image: url("../images/img_bg_default.svg");
  background-size: 100% 100%;
  color: var(--color-fourth);
  transition: all 0.2s ease;
  overflow: hidden;
}
.restaurant__btn a:hover {
  background-image: url("../images/img_bg_hover.svg");
  mask-image: url("../images/img_bg_hover.svg");
  background-color: var(--color-secondary);
}
.restaurant__btn a span {
  transform: translateY(2px);
}
/* end style restaurant sec */

/* start style events */
.events__container {
  padding-inline: 24px;
}
.events__list {
  position: relative;
}
.events__list .swiper-arrows .swiper-button-next,
.events__list .swiper-arrows .swiper-button-prev {
  position: absolute;
  top: 50%;
  height: 32px;
  width: 40px;
}
.events__list .swiper-arrows .swiper-button-prev {
  left: 0;
}
.events__list .swiper-arrows .swiper-button-next:hover,
.events__list .swiper-arrows .swiper-button-prev:hover {
  cursor: none;
}
.events__list .swiper-arrows .swiper-button-next {
  right: 0;
}
.events__title {
  margin-bottom: 32px;
}
.events__item {
  position: relative;
  mask-image: url("../images/img_bg.svg");
  mask-size: 100% 100%;
}
.events__item::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.36%, #000 88.9%);
}
.events__content {
  position: absolute;
  inset: 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
}
.events__img {
  width: 100%;
  aspect-ratio: 329 / 489;
}
.events__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events__content .rank {
  color: var(--color-white);
}
.events__content .detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.events__content .detail h3 {
  color: var(--color-text);
}
.events__content .detail .desc {
  color: var(--color-white);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: unset;
  font-size: 0;
}
/* end style events */

/* style page delivery */
.delivery-sec {
  padding-top: 160px;
}
.delivery__container {
  padding-inline: 24px;
}
.delivery__container .delivery-category .title {
  color: var(--color-secondary);
  margin-bottom: 32px;
}
.delivery__container .delivery-category .delivery-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.delivery__container .delivery-category .delivery-list .delivery-item {
  mask-image: url("../images/v.png");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  width: 100%;
  background-image: var(--bg-img);
}
.delivery__container .delivery-category .delivery-list .delivery-item .box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 28px;
}
.delivery__container .delivery-category .delivery-list .delivery-item .img {
  width: 144px;
  aspect-ratio: 1;
}
.delivery__container .delivery-category .delivery-list .delivery-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery__container
  .delivery-category
  .delivery-list
  .delivery-item
  .box-content {
  padding: 4px 24px 24px;
}
.delivery__container
  .delivery-category
  .delivery-list
  .delivery-item
  .box-content
  .name {
  color: var(--color);
  margin-bottom: 8px;
}
.delivery__container
  .delivery-category
  .delivery-list
  .delivery-item
  .box-content
  .price {
  color: var(--color);
}
.delivery__container
  .delivery-category
  .delivery-list
  .delivery-item
  .box-content
  .description {
  margin-bottom: 24px;
}
/* end style page delivery */
/* css modal cart */
.cta-cart {
  position: fixed;
  top: 100px;
  right: 24px;
  z-index: 99;
}
.cta-cart .button-cart {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cta-cart .button-cart::before {
  content: attr(data-value);

  position: absolute;
  background-color: var(--color-third);
  font-size: 12px;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  right: 0;
  top: -5px;
}
.modal-cart {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.modal-cart .btn-close {
  background: none;
  width: 70px;
  height: 70px;
  opacity: 1;
}
.modal-cart .minicart-popup-wrapper {
  width: 465px;
  height: 575px;
  background-color: var(--color-white);
  mask-image: url("../images/bg_modal.png");
  mask-size: 100% 100%;
  overflow-y: scroll;
}
.custom-modal .modal-dialog {
  transform: translateX(-86px) !important;
}
.custom-modal {
  background-color: rgba(0, 0, 0, 0.8);
}
.minicart-popup-wrapper .item-added-to-cart-image {
  background-image: var(--bg-add-to-cart);
  background-position: center;
  width: 80px;
  height: 80px;
}
.minicart-popup-body {
  padding: 20px 28px 32px;
  overflow: scroll;
  height: 550px;
}
.minicart-popup-wrapper .item-added-to-cart-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.minicart-popup-content {
  display: flex;
  align-items: center;
  gap: 24px;
}
.minicart-popup-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid rgba(3, 3, 3, 0.3);
}
.minicart-popup-item:last-child {
  border: none;
}
.item-added-to-cart-name {
  color: var(--color-third);
  margin-bottom: 4px;
}
.minicart-popup-quanlity {
  display: flex;
  gap: 24px;
}
.minicart-popup-footer {
  padding: 26px 28px 32px;
  border-top: 1px solid var(--color-fourth);
  position: sticky;
  bottom: 0;
  background-color: var(--color-white);
}
.minicart-popup-footer .minicart-popup-subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end modal cart */
